# Enable Oh My Zsh
source $ZSH_CUSTOM/oh-my-zsh.sh

# Set the theme
ZSH_THEME="robbyrussell"  # Or any other theme you like

HISTFILE=~/.zsh_history
HISTSIZE=999999999
SAVEHIST=$HISTSIZE

#ZSH
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
plugins=(git zsh-autosuggestions fast-syntax-highlighting)
